<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "Fehler") %> bei der Eingabe:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Geburtstag' %><br>
    <%= f.date_select :birthday,
                      discard_year: true%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
