<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Geburtstage" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Birthday" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='container'>
      <h1>Geburtstags-Paradoxon</h1>
      <main role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
      </main>
    </div>
  </body>
</html>
